.group-name {
  /* border-bottom: 2px solid; */
  /* padding: 0.1em 0.25em; */
  font-weight: bold;
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.1em 0.4em;
  padding-left: 0;
}

.group-projects {
  margin-bottom: 1.5em;
}

.group-actions {
  display: flex;
}

.move-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5em;
  opacity: 0.75;
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.2em 0.5em;
  justify-content: space-between;
}

.project-name {
  margin: auto 0.5em;
  font-weight: bold;
  justify-content: flex-start;
}

.project:hover {
  cursor: pointer;
  background: var(--button-icon-hover-background);
}

.project-actions {
  display: flex;
}

.move-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5em;
  opacity: 0.75;
}

vscode-badge {
  margin-bottom: -3px;
}

.create-project {
  margin-top: 1em;
}

.header-title {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 0.5em;
  font-size: 2em;
}

.header-title > * {
  margin-right: 0.5em;
}

.header-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.header-add > * {
  margin: 0;
}
